<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments :: page_head('Orders - COFFEE DEV ADMIN')">


<body>
	<div class="container-fluid">
		<div>
			<div th:replace="navigation :: menu"></div>

			<div>
				<h1>Manage Orders</h1>
				<a th:href="@{/orders/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
			</div>
			&nbsp;
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>

			<div th:replace="fragments::search_form('/orders/page/1')"></div>

			<div class="table-responsive">
				<table class="table" style="background-color: rgb(200, 150, 94);">
					<thead class="table-primary">
						<tr>
							<th>Order ID</th>
							<th>Customer</th>
							<th>Total</th>
							<th>Address</th>
							<th>Payment Method</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order : ${listOrders}">
							<td>[[${order.id}]]</td>
							<td><a class="linkCustomerDetail"
									th:href="@{'/customers/detail/'+ ${order.customer.id}}">[[${order.customer.name}]]</a>
							</td>
							<td>[[${order.total}]]00</td>
							<td>[[${order.address}]]</td>
							<td>[[${order.paymentMethod}]]</td>
							<td>[[${order.orderStatus}]]</td>


							<td class="text-center">
								<a class="fas fa-file-alt fa-2x link-details" th:href="@{'/orders/detail/'+${order.id}}"
									title="View details of this order"></a>
								&nbsp; &nbsp;
								&nbsp;
								<a href="" class="fa-solid fa-trash-can fa-2x link-delete"
									style="color: red;text-decoration: none;"
									th:href="@{'/orders/delete/' + ${order.id}}" th:orderId="${order.id}"
									title="Delete this order"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<!--phan trang-->
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing orders # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>

		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No orders found</span>
		</div>

		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/orders/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
					</li>

					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/orders/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
					</li>

					<li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a class="page-link"
							th:href="@{'/orders/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/orders/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/orders/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					</li>
				</ul>
			</nav>





</body>

</html>