<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Giỏ Hàng')">

<body>

	<div class="container">
		<div th:replace="navigation :: menu"></div>

		<h1 style="text-align: center; margin-top: 100px;">Your Shopping Cart</h1>

		<div class="row mt-5">
			<!-- Left Section - List of Products -->
			<div class="col-md-8">
				<div th:each="cartItem : ${cartItems}">
					<div class="row mb-3">
						<div class="col-md-3">
							<img th:src="@{${cartItem.product.imagePath}}" width="100%" height="auto"
								alt="Product Image" />
						</div>
						<div class="col-md-3">
							<h4 th:text="${cartItem.product.name}"></h4>
							<h4 th:text="${cartItem.product.price}+'00Đ'"></h4>
							<div th:replace="cart/quantity_control :: quantity_control(${cartItem.quantity}, ${cartItem.product.id})"></div>
						</div>
						
						
						
						<a class="linkRemove" style="margin-top: 90px; margin-left: 5px; 
						background-color: rgb(253, 45, 42); color: whitesmoke; width:50px; height: 30px"
							th:href="@{'/cart/remove/' + ${cartItem.product.id}}">Delete</a>
				</div>
			</div>
		</div>

		<!-- Right Section - Add Product and Total -->
		<div class="col-md-4" th:if="${not #lists.isEmpty(cartItems)}">
			<div>
				<h3 class="mt-4">Tổng Tiền: [[${estimatedTotal}]]00Đ</h3>
			</div>
			<div class="button"
				style="background-color: antiquewhite; width: 100px; height: 30px; text-align: center; color: red; margin-left: 100px;">
				THANH TOÁN
			</div>
		</div>
<div class="col-md-4" th:if="${#lists.isEmpty(cartItems)}">
</div>

	</div>
	</div>
	<script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	


		
	</script>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.easing.1.3.js}"></script>
	<script th:src="@{/js/jquery.waypoints.min.js}"></script>
	<script th:src="@{/js/jquery.stellar.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/aos.js}"></script>
	<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/jquery.timepicker.min.js}"></script>
	<script th:src="@{/js/scrollax.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/quantity_control.js}"></script>
	<script th:src="@{/js/add_to_cart.js}"></script>
	<script th:src="@{/js/common_modal.js}"></script>


</body>

</html>