<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>HOME - COFFEE DEV ADMIN</title>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

</head>

<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(200, 150, 94);">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/logo_stars.png}" width="150px" height="80px" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/users}">Users</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/categories}">Categories</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/products}">Products</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/customers}">Customers</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/shipping}">Shipping</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/orders}">Orders</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/report}">Sale Report</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" style="color: white;" th:href="@{/menus}">Menus</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>

		<div>
			<h1>Manage Users</h1>
			<a th:href="@{/users/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		</div>
		&nbsp;
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<div class="table-responsive">
			<table class="table" style="background-color: rgb(200, 150, 94);">
				<thead class="table-primary">
					<th>User ID</th>
					<th>
						Photo
					</th>
					<th>Email</th>
					<th>Name</th>
					<th>Roles</th>
					<th style="text-align: center;">Enabled</th>
					<th></th>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<span th:if="${user.photo == null}" class="fas fa-portrait fa-3x icon-silver"></span>
							<img th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}"
								style="width: 100px" />
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.name}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<a th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green"
								style="text-decoration: none; display: flex; justify-content: center;" th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
								title="Disable This User"></a>
								
							<a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x fa-2x icon-dark"
								style="text-decoration: none; display: flex; justify-content: center;" th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
								title="Enable This User"></a>
						</td>

						<!--edit and delete-->
						<td>
							<a class="fas fa-edit fa-2x icon-blue" style="text-decoration: none"
								th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
							&nbsp;
							<a class="fas fa-trash fa-2x icon-purple link-delete"
								th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}"
								title="Delete this user"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		&nbsp;
		<div style="text-align: center;">
			<p>CoffeeDev Control Panel - Copyright &copy; CoffeeDev</p>
		</div>
	</div>
	
	<div class="modal fade text-center" id="Confirm-Modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Delete Confirmation" 
					style="color: rgb(74, 77, 21);">Delete Confirmation</h4>
					<button type="button" class="close" style="font-size: 30px; border: none; background-color: rgb(172, 212, 199);" data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modal-Body" style="color: coral;"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" href=""id="yesButton">Xóa</a>
					<button type="button" class="btn btn-danger"data-bs-dismiss="modal" >Không</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		modalURL="/users"
		$(document).ready(function(){
			$(".link-delete").on("click", function(e){
				e.preventDefault();
				link = $(this);
				userId= link.attr("userId");
				$("#yesButton").attr("href",link.attr("href"));
				//alert($(this).attr("href"));
				$("#modal-Body").text("Bạn có muốn xóa tài khoản với ID " +userId+" không?");
				$("#Confirm-Modal").modal("show");
			});
		});
		function clearFilter() {
			window.location = "[[@{/users}]]";
		}

	</script>
</body>


</html>