<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments :: page_head('Users - COFFEE DEV ADMIN')">


<body>
	<div class="container-fluid">
		<div>
			<div th:replace="navigation :: menu"></div>

			<div>
				<h1>Manage Users</h1>
				<a th:href="@{/users/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
				&nbsp;|&nbsp;
				<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
			</div>
			&nbsp;
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
			
			<div th:replace="fragments::search_form('/users/page/1')"></div>

			<div class="table-responsive">
				<table class="table" style="background-color: rgb(200, 150, 94);">
					<thead class="table-primary">
						<th>
							<a th:if="${sortField != 'id'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								User ID
							</a>
							<a th:if="${sortField == 'id'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								User ID
							</a>

							<span th:if="${sortField == 'id'}"
								th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>

						</th>
						<th>
							Photo
						</th>
						<th>
							<a th:if="${sortField != 'email'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								E-mail
							</a>
							<a th:if="${sortField == 'email'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
								E-mail
							</a>

							<span th:if="${sortField == 'email'}"
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						</th>

						<th>
							<a th:if="${sortField != 'name'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${sortDir}}">
								Name
							</a>
							<a th:if="${sortField == 'name'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								Name
							</a>

							<span th:if="${sortField == 'name'}"
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						</th>



						<th>Roles</th>
						<th style="text-align: center;">
							<a th:if="${sortField != 'enabled'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								Enabled
							</a>
							<a th:if="${sortField == 'enabled'}" 
								th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								Enabled
							</a>

							<span th:if="${sortField == 'enabled'}"
								th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
							</span>
						</th>
						<th></th>
					</thead>
					<tbody>
						<tr th:each="user : ${listUsers}">
							<td>[[${user.id}]]</td>
							<td>
								<span th:if="${user.photo == null}" class="fas fa-portrait fa-3x icon-silver"></span>
								<img th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}"
									style="width: 100px" />
							</td>
							<td>[[${user.email}]]</td>
							<td>[[${user.name}]]</td>
							<td>[[${user.roles}]]</td>
							<td>
								<a th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green"
									style="text-decoration: none; display: flex; justify-content: center;"
									th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
									title="Disable This User"></a>

								<a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x fa-2x icon-dark"
									style="text-decoration: none; display: flex; justify-content: center;"
									th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable This User"></a>
							</td>

							<!--edit and delete-->
							<td>
								<a class="fas fa-edit fa-2x icon-blue" style="text-decoration: none"
									th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
								&nbsp;
								<a class="fas fa-trash fa-2x icon-purple link-delete"
									th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}"
									title="Delete this user"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="text-center m-1" th:if="${totalItems > 0}">
				<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
			</div>

			<div class="text-center m-1" th:unless="${totalItems > 0}">
				<span>No users found</span>
			</div>

			<div th:if="${totalPages > 1}"> <!--chưa hiểu để làm gì-->
			<nav>
				<ul class="pagination justify-content-center">
					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
					</li>

					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
					</li>

					<li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a class="page-link"
							th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
							th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					</li>
				</ul>
			</nav>
		</div>

			&nbsp;
			<div style="text-align: center;">
				<p>CoffeeDev Control Panel - Copyright &copy; CoffeeDev</p>
			</div>
		</div>

		<div class="modal fade text-center" id="Confirm-Modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="Delete Confirmation"
							style="color: rgb(74, 77, 21); margin-left: 140px;">Delete Confirmation</h4>
						<button type="button" class="close"
							style="font-size: 30px; border: none; background-color: rgb(172, 212, 199);"
							data-bs-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<span id="modal-Body" style="color: coral;"></span>
					</div>

					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Xóa</a>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Không</button>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			modalURL = "/users"
			$(document).ready(function () {
				$(".link-delete").on("click", function (e) {
					e.preventDefault();
					link = $(this);
					userId = link.attr("userId");
					$("#yesButton").attr("href", link.attr("href"));
					//alert($(this).attr("href"));
					$("#modal-Body").text("Bạn có muốn xóa tài khoản với ID " + userId + " không?");
					$("#Confirm-Modal").modal("show");
				});
			});
			function clearFilter() {
				window.location = "[[@{/users}]]";
			}

		</script>
</body>


</html>