<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments :: page_head('Customers - COFFEE DEV ADMIN')">


<body>
	<div class="container-fluid">
		<div>
			<div th:replace="navigation :: menu"></div>

			<div>
				<h1>Manage Customers</h1>
				<a th:href="@{/customers/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
				&nbsp;|&nbsp;
				<a th:href="@{/customers/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
			</div>
			&nbsp;
			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>

			<div th:replace="fragments::search_form('/customers/page/1')"></div>


			<div class="table-responsive">
				<table class="table" style="background-color: rgb(200, 150, 94);">
					<thead class="table-primary">
						<tr>
							<th>Customer ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Create Time</th>
							<th style="text-align: center;">Enabled</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer : ${listCustomers}">
							<td>[[${customer.id}]]</td>
							<td>[[${customer.name}]]</td>
							<td class="hideable-column">[[${customer.email}]]</td>
							<td>[[${customer.phoneNumber}]]</td>
							<td>[[${customer.createdTime}]]</td>



							<td>
								<a th:if="${customer.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green"
									style="text-decoration: none; display: flex; justify-content: center;"
									th:href="@{'/customers/' + ${customer.id} + '/enabled/false'}"
									title="Disable This Customer"></a>

								<a th:if="${customer.enabled == false}" class="fa-solid fa-circle fa-2x fa-2x icon-dark"
									style="text-decoration: none; display: flex; justify-content: center;"
									th:href="@{'/customers/' + ${customer.id} + '/enabled/true'}"
									title="Enable This Customer"></a>
							</td>


							<!--edit and delete-->
							<td>
								<a class="fas fa-file-alt fa-2x icon-green link-detail"
									th:href="@{'/customers/detail/' + ${customer.id}}"
									title="View details of this customer"></a>
								&nbsp;
								<a class="fas fa-edit fa-2x icon-blue" style="text-decoration: none"
									th:href="@{'/customers/edit/' + ${customer.id}}" title="Edit this customer"></a>
								&nbsp;
								<a class="fas fa-trash fa-2x icon-purple link-delete"
									th:href="@{'/customers/delete/' + ${customer.id}}" th:customerId="${customer.id}"
									title="Delete this customer"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>




</body>

</html>